body {
  margin: 0;
	/* font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif; */
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

*::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

*::-webkit-scrollbar-thumb {
	background-color: rgba(144, 147, 153, 0.3);
}

*::-webkit-scrollbar-track {
	background: transparent;
}